<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyc.yycframework.dao.AssetMapper">
  <resultMap id="BaseResultMap" type="com.yyc.yycframework.entity.Asset">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="asset_code" jdbcType="VARCHAR" property="assetCode" />
    <result column="asset_name" jdbcType="VARCHAR" property="assetName" />
    <result column="asset_type" jdbcType="VARCHAR" property="assetType" />
    <result column="before_dept" jdbcType="VARCHAR" property="beforeDept" />
    <result column="before_user" jdbcType="VARCHAR" property="beforeUser" />
    <result column="buy_date" jdbcType="TIMESTAMP" property="buyDate" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="enter_date" jdbcType="TIMESTAMP" property="enterDate" />
    <result column="now_dept" jdbcType="VARCHAR" property="nowDept" />
    <result column="now_user" jdbcType="VARCHAR" property="nowUser" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="partner" jdbcType="VARCHAR" property="partner" />
    <result column="partner_tel" jdbcType="VARCHAR" property="partnerTel" />
    <result column="move_date" jdbcType="TIMESTAMP" property="moveDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, asset_code, asset_name, asset_type, before_dept, before_user, buy_date, content, 
    enter_date, now_dept, now_user, num, price, specification, unit, partner, partner_tel, 
    move_date
  </sql>
  <select id="selectByExample" parameterType="com.yyc.yycframework.entity.AssetExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mylearn..asset
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mylearn..asset
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mylearn..asset
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yyc.yycframework.entity.AssetExample">
    delete from mylearn..asset
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yyc.yycframework.entity.Asset">
    insert into mylearn..asset (id, asset_code, asset_name, 
      asset_type, before_dept, before_user, 
      buy_date, content, enter_date, 
      now_dept, now_user, num, 
      price, specification, unit, 
      partner, partner_tel, move_date
      )
    values (#{id,jdbcType=VARCHAR}, #{assetCode,jdbcType=VARCHAR}, #{assetName,jdbcType=VARCHAR}, 
      #{assetType,jdbcType=VARCHAR}, #{beforeDept,jdbcType=VARCHAR}, #{beforeUser,jdbcType=VARCHAR}, 
      #{buyDate,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, #{enterDate,jdbcType=TIMESTAMP}, 
      #{nowDept,jdbcType=VARCHAR}, #{nowUser,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{price,jdbcType=DECIMAL}, #{specification,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, 
      #{partner,jdbcType=VARCHAR}, #{partnerTel,jdbcType=VARCHAR}, #{moveDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yyc.yycframework.entity.Asset">
    insert into mylearn..asset
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="assetCode != null">
        asset_code,
      </if>
      <if test="assetName != null">
        asset_name,
      </if>
      <if test="assetType != null">
        asset_type,
      </if>
      <if test="beforeDept != null">
        before_dept,
      </if>
      <if test="beforeUser != null">
        before_user,
      </if>
      <if test="buyDate != null">
        buy_date,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="enterDate != null">
        enter_date,
      </if>
      <if test="nowDept != null">
        now_dept,
      </if>
      <if test="nowUser != null">
        now_user,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="specification != null">
        specification,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="partner != null">
        partner,
      </if>
      <if test="partnerTel != null">
        partner_tel,
      </if>
      <if test="moveDate != null">
        move_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="assetCode != null">
        #{assetCode,jdbcType=VARCHAR},
      </if>
      <if test="assetName != null">
        #{assetName,jdbcType=VARCHAR},
      </if>
      <if test="assetType != null">
        #{assetType,jdbcType=VARCHAR},
      </if>
      <if test="beforeDept != null">
        #{beforeDept,jdbcType=VARCHAR},
      </if>
      <if test="beforeUser != null">
        #{beforeUser,jdbcType=VARCHAR},
      </if>
      <if test="buyDate != null">
        #{buyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="enterDate != null">
        #{enterDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nowDept != null">
        #{nowDept,jdbcType=VARCHAR},
      </if>
      <if test="nowUser != null">
        #{nowUser,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="partner != null">
        #{partner,jdbcType=VARCHAR},
      </if>
      <if test="partnerTel != null">
        #{partnerTel,jdbcType=VARCHAR},
      </if>
      <if test="moveDate != null">
        #{moveDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yyc.yycframework.entity.AssetExample" resultType="java.lang.Long">
    select count(*) from mylearn..asset
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mylearn..asset
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.assetCode != null">
        asset_code = #{record.assetCode,jdbcType=VARCHAR},
      </if>
      <if test="record.assetName != null">
        asset_name = #{record.assetName,jdbcType=VARCHAR},
      </if>
      <if test="record.assetType != null">
        asset_type = #{record.assetType,jdbcType=VARCHAR},
      </if>
      <if test="record.beforeDept != null">
        before_dept = #{record.beforeDept,jdbcType=VARCHAR},
      </if>
      <if test="record.beforeUser != null">
        before_user = #{record.beforeUser,jdbcType=VARCHAR},
      </if>
      <if test="record.buyDate != null">
        buy_date = #{record.buyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.enterDate != null">
        enter_date = #{record.enterDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.nowDept != null">
        now_dept = #{record.nowDept,jdbcType=VARCHAR},
      </if>
      <if test="record.nowUser != null">
        now_user = #{record.nowUser,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.specification != null">
        specification = #{record.specification,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.partner != null">
        partner = #{record.partner,jdbcType=VARCHAR},
      </if>
      <if test="record.partnerTel != null">
        partner_tel = #{record.partnerTel,jdbcType=VARCHAR},
      </if>
      <if test="record.moveDate != null">
        move_date = #{record.moveDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mylearn..asset
    set id = #{record.id,jdbcType=VARCHAR},
      asset_code = #{record.assetCode,jdbcType=VARCHAR},
      asset_name = #{record.assetName,jdbcType=VARCHAR},
      asset_type = #{record.assetType,jdbcType=VARCHAR},
      before_dept = #{record.beforeDept,jdbcType=VARCHAR},
      before_user = #{record.beforeUser,jdbcType=VARCHAR},
      buy_date = #{record.buyDate,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=VARCHAR},
      enter_date = #{record.enterDate,jdbcType=TIMESTAMP},
      now_dept = #{record.nowDept,jdbcType=VARCHAR},
      now_user = #{record.nowUser,jdbcType=VARCHAR},
      num = #{record.num,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DECIMAL},
      specification = #{record.specification,jdbcType=VARCHAR},
      unit = #{record.unit,jdbcType=VARCHAR},
      partner = #{record.partner,jdbcType=VARCHAR},
      partner_tel = #{record.partnerTel,jdbcType=VARCHAR},
      move_date = #{record.moveDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyc.yycframework.entity.Asset">
    update mylearn..asset
    <set>
      <if test="assetCode != null">
        asset_code = #{assetCode,jdbcType=VARCHAR},
      </if>
      <if test="assetName != null">
        asset_name = #{assetName,jdbcType=VARCHAR},
      </if>
      <if test="assetType != null">
        asset_type = #{assetType,jdbcType=VARCHAR},
      </if>
      <if test="beforeDept != null">
        before_dept = #{beforeDept,jdbcType=VARCHAR},
      </if>
      <if test="beforeUser != null">
        before_user = #{beforeUser,jdbcType=VARCHAR},
      </if>
      <if test="buyDate != null">
        buy_date = #{buyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="enterDate != null">
        enter_date = #{enterDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nowDept != null">
        now_dept = #{nowDept,jdbcType=VARCHAR},
      </if>
      <if test="nowUser != null">
        now_user = #{nowUser,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="specification != null">
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="partner != null">
        partner = #{partner,jdbcType=VARCHAR},
      </if>
      <if test="partnerTel != null">
        partner_tel = #{partnerTel,jdbcType=VARCHAR},
      </if>
      <if test="moveDate != null">
        move_date = #{moveDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyc.yycframework.entity.Asset">
    update mylearn..asset
    set asset_code = #{assetCode,jdbcType=VARCHAR},
      asset_name = #{assetName,jdbcType=VARCHAR},
      asset_type = #{assetType,jdbcType=VARCHAR},
      before_dept = #{beforeDept,jdbcType=VARCHAR},
      before_user = #{beforeUser,jdbcType=VARCHAR},
      buy_date = #{buyDate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      enter_date = #{enterDate,jdbcType=TIMESTAMP},
      now_dept = #{nowDept,jdbcType=VARCHAR},
      now_user = #{nowUser,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      specification = #{specification,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      partner = #{partner,jdbcType=VARCHAR},
      partner_tel = #{partnerTel,jdbcType=VARCHAR},
      move_date = #{moveDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>