<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyc.yycframework.dao.SignMapper">
  <resultMap id="BaseResultMap" type="com.yyc.yycframework.entity.Sign">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="sign_in_time" jdbcType="TIMESTAMP" property="signInTime" />
    <result column="sign_in_statue" jdbcType="VARCHAR" property="signInStatue" />
    <result column="sign_out_time" jdbcType="TIMESTAMP" property="signOutTime" />
    <result column="sign_out_statue" jdbcType="VARCHAR" property="signOutStatue" />
    <result column="now_day" jdbcType="VARCHAR" property="nowDay" />
    <result column="search_month" jdbcType="VARCHAR" property="searchMonth" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, sign_in_time, sign_in_statue, sign_out_time, sign_out_statue, now_day, 
    search_month
  </sql>
  <select id="selectByExample" parameterType="com.yyc.yycframework.entity.SignExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mylearn..sign
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mylearn..sign
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mylearn..sign
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yyc.yycframework.entity.SignExample">
    delete from mylearn..sign
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yyc.yycframework.entity.Sign">
    insert into mylearn..sign (id, user_id, sign_in_time, 
      sign_in_statue, sign_out_time, sign_out_statue, 
      now_day, search_month)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{signInTime,jdbcType=TIMESTAMP}, 
      #{signInStatue,jdbcType=VARCHAR}, #{signOutTime,jdbcType=TIMESTAMP}, #{signOutStatue,jdbcType=VARCHAR}, 
      #{nowDay,jdbcType=VARCHAR}, #{searchMonth,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yyc.yycframework.entity.Sign">
    insert into mylearn..sign
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="signInTime != null">
        sign_in_time,
      </if>
      <if test="signInStatue != null">
        sign_in_statue,
      </if>
      <if test="signOutTime != null">
        sign_out_time,
      </if>
      <if test="signOutStatue != null">
        sign_out_statue,
      </if>
      <if test="nowDay != null">
        now_day,
      </if>
      <if test="searchMonth != null">
        search_month,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="signInTime != null">
        #{signInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signInStatue != null">
        #{signInStatue,jdbcType=VARCHAR},
      </if>
      <if test="signOutTime != null">
        #{signOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signOutStatue != null">
        #{signOutStatue,jdbcType=VARCHAR},
      </if>
      <if test="nowDay != null">
        #{nowDay,jdbcType=VARCHAR},
      </if>
      <if test="searchMonth != null">
        #{searchMonth,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yyc.yycframework.entity.SignExample" resultType="java.lang.Long">
    select count(*) from mylearn..sign
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mylearn..sign
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.signInTime != null">
        sign_in_time = #{record.signInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signInStatue != null">
        sign_in_statue = #{record.signInStatue,jdbcType=VARCHAR},
      </if>
      <if test="record.signOutTime != null">
        sign_out_time = #{record.signOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signOutStatue != null">
        sign_out_statue = #{record.signOutStatue,jdbcType=VARCHAR},
      </if>
      <if test="record.nowDay != null">
        now_day = #{record.nowDay,jdbcType=VARCHAR},
      </if>
      <if test="record.searchMonth != null">
        search_month = #{record.searchMonth,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mylearn..sign
    set id = #{record.id,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      sign_in_time = #{record.signInTime,jdbcType=TIMESTAMP},
      sign_in_statue = #{record.signInStatue,jdbcType=VARCHAR},
      sign_out_time = #{record.signOutTime,jdbcType=TIMESTAMP},
      sign_out_statue = #{record.signOutStatue,jdbcType=VARCHAR},
      now_day = #{record.nowDay,jdbcType=VARCHAR},
      search_month = #{record.searchMonth,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyc.yycframework.entity.Sign">
    update mylearn..sign
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="signInTime != null">
        sign_in_time = #{signInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signInStatue != null">
        sign_in_statue = #{signInStatue,jdbcType=VARCHAR},
      </if>
      <if test="signOutTime != null">
        sign_out_time = #{signOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="signOutStatue != null">
        sign_out_statue = #{signOutStatue,jdbcType=VARCHAR},
      </if>
      <if test="nowDay != null">
        now_day = #{nowDay,jdbcType=VARCHAR},
      </if>
      <if test="searchMonth != null">
        search_month = #{searchMonth,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyc.yycframework.entity.Sign">
    update mylearn..sign
    set user_id = #{userId,jdbcType=VARCHAR},
      sign_in_time = #{signInTime,jdbcType=TIMESTAMP},
      sign_in_statue = #{signInStatue,jdbcType=VARCHAR},
      sign_out_time = #{signOutTime,jdbcType=TIMESTAMP},
      sign_out_statue = #{signOutStatue,jdbcType=VARCHAR},
      now_day = #{nowDay,jdbcType=VARCHAR},
      search_month = #{searchMonth,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>